* {
    margin: 0;
    font-family: monospace, serif;
}

body {
    height: 100%;
    margin: 0;
    background-image: url(../img/werk-zoeken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#nav {
    background-color: black;
}

#menu {
    position: absolute;
    width: 100%;
    background: #000;
    display: none;
}

#menu.open {
    display: block;
    padding: 16px;
}

.buttonCategory {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    column-gap: .5em;
}

.buttonCategory a,
.buttonCategory button {
    width: 100%;
    margin-bottom: .3em;
}

iframe {
    width: 100%;
    height: 93vh;
}
